.select-container {
  width: 100%;
  max-height: 45vh ;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content:space-between;
  padding: 25px 0;
  background-image: url(../../resources/maxresdefault.jpg);
  background-size: contain;
}

.selected-fighter {
  position: relative;
  min-width: 171px;
  margin: 0 100px;
  flex-grow: 1.1;
}

.selected-fighter:nth-child(1) {
  order: 3;
}

.selected-fighter:nth-child(1) {
  transform: rotateY(-180deg)
}

.fighter-placeholder {
  height: calc(45vh - 50px)
}

.fight {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.fight .fighters {
  pointer-events: none
}
