
.details-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.details {
  max-width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(../../resources/popup-bg.jpg);
  list-style: none;
  box-shadow: 1px 1px 5px gray;
  animation: fadeIn 100ms ease-in;
  border: solid 3px blue;
  color: white;
}

.fade-out .details {
  animation: fadeOut 200ms ease-out forwards;
}

.row {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.key {
  font-weight: bold;
  min-width: 5em;
  font-size: 1.5em;
  line-height: 1.7
}

.input-value {
  flex-grow: 1;
  border:none;
  outline: none;
  color: wheat;
  font-size: 1.5em;
  background: transparent;
  border-bottom: 2px solid orange;
}

.text-value{
  font-weight: bold;
  font-size: 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}